
.b-slider{
    position: relative;
    height: 120px;
    overflow: hidden;
}
.b-slider ul{
	list-style:none;
}
.b-slider .item{
    width: 1200px;
    height: 120px;
    float: left;
}

.b-slider .item a{
    display: block;
    height: 120px;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.b-slider .item span{
    display: block;
    height: 120px;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.b-slider .pagination{
	position: absolute;
	text-align: center;
	min-width: 100px;
	right: 450px;
	top: 75px;
}

.b-slider .pagination a{
    display: inline-block;
    margin: 0 3px;
    height: 9px;
    width: 9px;
    background: url(images/sprite.png) no-repeat left top;
}

.b-slider .pagination a:hover, .b-slider .pagination a.selected{
    background-position: right top
}
.b-slider .pagination span{display: none;}