.yellow-share {
	box-sizing: border-box;
	max-width: 475px;
	padding: 13px 85px 5px 13px;
		margin-top: 20px;
	background: #fdff7c url(images/yellow-bg.png) no-repeat 99% center;
}
.yellow-top {
	font-size: 0;
}
.yellow-social {
	margin-right: 18px;
}
.yellow-social,
.yellow-description {
	display: inline-block;
	vertical-align: top;
}
.yellow-social span {
	color: #626262;
	font: bold 14px/28px Arial, sans-serif;
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}
.yellow-social a {
	width: 29px;
	height: 28px;
	background: url(images/share.png) no-repeat 0 0;
	display: inline-block;
	margin-right: 9px;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.yellow-social a:hover {
	opacity: 0.8;
}
.yellow-social a.share-facebook {
	background-position: 0 0;
}
.yellow-social a.share-vkontakte {
	background-position: -38px 0;
}
.yellow-social a.share-odnoklasniki {
	background-position: -76px 0;
	margin-right: 0;
}
.yellow-description span {
	font: bold 14px/13px Arial, sans-serif;
	color: #626262;
  letter-spacing: 0.4px;
}
.yellow-description span strong {
	color: #ff0000;
	font-weight: bold;
}
.yellow-description .bonus-green{
	color: #298547;
	font: bold 11.5px/22px Arial, sans-serif;
  letter-spacing: 0.5px;
}
.your-card {
	display: inline-block;
	padding-right: 44px;
	background: url(images/card.png) no-repeat right 0;
	font: normal 13px/21px Arial, sans-serif;
	color: #555555;
  letter-spacing: 0.2px;
}
.your-card:hover {
	text-decoration: none;
}
